.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
     background: linear-gradient(135deg, #fff8e1, #ffe0b2);
  padding: 180px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background: 
    linear-gradient(rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)),
    url('/assets/logo.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.main-content {
  flex: 1;
}